*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(w.png);
    background-size: cover;
    background-repeat: no-repeat;
    background: position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: gray;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    aling-items: center
}
nav li{
    height: 30px;   
}
nav a{
    height: 100%;
    padding: 0 100px;
    text-decoration: none;
    display: flex;
    alling-items: center;
    color: black;
}
nav a:hover{
    background-color: lightgray;
}
nav li:first_child{
    margin-right: auto;
}